body{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #222;
    color: #fff;
}
.container{
    width: 90%;
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}
.wraper{
    padding: 80px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.wraper > [class^=col] {
    display: flex;
    min-height: 100%;
    align-items: stretch;
}
.col1{
    width: 30%;
}
.col1 .title{
    font-size: 50px;
    white-space: nowrap;
    overflow: visible;
    margin-bottom: 5px;
    margin-top: 0;
    font-weight: normal;
    color: #446faf;
}
.col1 .title span{
    color: #fff;
}
.col1 p{
    margin: 0;
}
.col1 .precent{
    margin-bottom: 5px;
    font-size: 60px;
    font-weight: normal;
    margin-top: 100px;
}
.col1 .precent span{
    font-size: 30px;
}
/* .col3{
    width: 40%;
} */
.chart-element{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.chart-element > div{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.chart-element .circle{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    margin-right: 20px;
    background-color: #4273c6;
}
.chart-element > div:nth-child(2) .circle{
    background-color: #ed7d31;
}
.chart-element > div:nth-child(3) .circle{
    background-color: #a5a5a5;
}
.chart-element > div:nth-child(4) .circle{
    background-color: #599bd6;
}
.chart-element > div:nth-child(5) .circle{
    background-color: #6fac47;
}
.chart-element h3,
.chart-element p{
    margin: 0;
}
.chart-element h3{
    font-size: 26px;
    font-weight: 500;
    text-transform: uppercase;
}

.chartDiv{
    position: relative;
    width: 200px;
    height: 400px;
    margin: 20px 40px 20px 50px;
    transform-style: preserve-3d;
    margin-left: 100px;
}
.bar{
    background-color: #6fac47;
    width: 40px;
    height: 500px;
    position: absolute;
    bottom: 0;
    transform: skewY(-30deg);
} 
.bar::before{
    content: "";
    background-color: #538234;
    width: 40px;
    height: 100%;
    position: absolute;
    transform: skewY(45deg);
    left: -39px;
    top: -20px;
}
.bar:after{
    content: "";
    background-color: #a8d18c;
    width: 40px;
    height: 40px;
    position: absolute;
    transform: skewX(45deg);
    left: -19px;
    top: -40px;
}
.bar:nth-child(1){
    height: 50px;
    z-index: 5;
}
.bar:nth-child(2){
    left: 50px;
    height: 100px;
    margin-bottom: 30px;
    z-index: 4;
    background-color: #599bd6;
}
.bar:nth-child(2)::before{
    background-color: #2f75b5;
}
.bar:nth-child(2)::after{
    background-color: #9dc4e6;
}
.bar:nth-child(3){
    left: 100px;
    height: 150px;
    margin-bottom: 60px;
    z-index: 3;
    background-color: #a5a5a5;
}
.bar:nth-child(3)::before{
    background-color: #7c7c7c;
}
.bar:nth-child(3)::after{
    background-color: #c9c9c9;
}
.bar:nth-child(4){
    left: 150px;
    height: 200px;
    margin-bottom: 90px;
    z-index: 2;
    background-color: #ed7d31;
}
.bar:nth-child(4)::before{
    background-color: #c55a10;
}
.bar:nth-child(4)::after{
    background-color: #f3b282;
}
.bar:nth-child(5){
    left: 200px;
    height: 250px;
    margin-bottom: 120px;
    z-index: 1;
    background-color: #4273c6;
}
.bar:nth-child(5)::before{
    background-color: #2f5596;
}
.bar:nth-child(5)::after{
    background-color: #90acde;
}