html, body {margin:0; height: 100%;}


header {
    padding: 20px;
        text-align: center;
       
        position: absolute;
        left: 34%;
        color: #ffff;
}

#products {

    gap: 20px;
    justify-content: space-between;
}

.product-block {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    width: 48%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.product-block img {
    max-width: 100%;
    height: auto;
}

.product-block h2,
.product-block p {
    padding: 10px 15px;
}

iframe.product-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    display: none;
    z-index: 10;
}

#container {
    height: 100%;
  }

#darkMatter {
    width: 8vw;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    z-index: 3;
    display: none;
}
#products > div {
  flex: 33%; 
  box-shadow: 0 0 0 1px black;
  margin:10px 10px 10px 10px;
}

#animContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

  
#products {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
  }

  #container canvas {
    width: 100%!important;
    height: 210%!important;
  }
  
  @media (max-width: 768px) {

    
    #container canvas {
      width: 100%!important;
      height: 331%!important;
    }
    #products > div {
      flex: 100%; 
      box-shadow: 0 0 0 1px black;
      margin:10px 10px 10px 10px;
    }
    header {
      left: 16%;            
    }
  }