@keyframes LoadingDots_dots__28kzb{0%,20%{color:var(--dots-color);text-shadow:.25em 0 0 var(--dots-shadow-color),.5em 0 0 var(--dots-shadow-color)}40%{color:var(--dots-color);text-shadow:.25em 0 0 var(--dots-shadow-color),.5em 0 0 var(--dots-shadow-color)}60%{text-shadow:.25em 0 0 var(--dots-color),.5em 0 0 var(--dots-shadow-color)}80%,to{text-shadow:.25em 0 0 var(--dots-color),.5em 0 0 var(--dots-color)}}.LoadingDots_loadingDots__QjvsG{--dots-color:#000;--dots-shadow-color:transparent;white-space:nowrap}.LoadingDots_loadingDots__QjvsG:after{animation:LoadingDots_dots__28kzb 1s steps(5) infinite;content:"."}html[data-theme=dark] .LoadingDots_loadingDots__QjvsG{--dots-color:#fff;--dots-shadow-color:hsla(0,0%,100%,0)}
.btn-hide {
    display: none;
}
.new-cls {
 
  display: none!important;
}
.trust-remov {
  display: none!important;
}
#recent-shifts {
  display: none;
}
.border-solid:has(> #recent-shifts) {
  border: none !important;
}